section.student-section{
    display: flex;
    flex-direction: column;
    // border: 2px solid red;
    

    .pagination-wrapper{
        display: flex;
        align-items: center;
        align-self: right;
        margin-top: 3em;
        align-self: flex-end;
        border: 0;
        // place-content: right;
        
        button.page-nav-btn{
            border: 0;
            background: rgb(239, 244, 248);
            height: 40px;
            width: 40px;
            margin-left: 1.25em;
            color: #bdbcc5;
            font-weight: 600;
            font-size: 1.125rem;
            cursor: pointer;

            &:hover{
                color: black;
            }
        }

        button.prevPage-wrapper{
            display: flex;
            align-items: center;
            cursor: pointer;
            border: 0;
            background: none;



            &:last-child{
                margin-left: 2em;
            }
            
            
            & > h3:first-child {
                margin-right: 0.375em;
            }

            & > svg:first-child {
                margin-right: 0.375em;
            }

            button.page-nav-btn{
                border: 0;
            }
        }
    }

    .dash-options{
        display: flex;
        margin-bottom: 1.875em;


        button{
            margin-right: 1.25em;
            display: flex;
            align-items: center;
            padding: 1em;
            border: 0;
            background-color: black;
            color: white;

            &>svg{
                margin-left: 1em;
            }
        }

        input{
            padding: 1em;
            flex-grow: 1;
        }
    }

    .student-card{
        display: flex;
        align-items: center;
        padding: 0.75em 1.5em;

        background: #FFFFFF;
        // border: 1px solid #E9E9E9;
        box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        margin-bottom: 1.25em;

        .student-core-detail{
            display: flex;
            align-items: center;
            // min-height: 3.875rem;

            & > h2 {
                margin-left: 0.75em;
                font-size: 1.125rem;
            }

            & > img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .student-school{
            display: flex;
            align-items: center;
            padding: 0.375em 0.75em;
            background-color: #ECF3FF;
            border-radius: 50px;
            margin-left: 1.5em;

            & > p {
                margin-left: 0.375em;
            }
        }

        // border: 2px solid red;

        .card-icons-wrapper{
            margin-left: auto;
            display: flex;
            // border: 2px solid blue;

            & > button.card-icons{
                border: 0;
                background: none;
                cursor: pointer;

                &:last-child {
                    margin-left: 1.875em;
                }
            }
        }
    }
}